
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- feature -->
@Html.Action("Feature");
<!-- offer-->
@Html.Action("Offer");
<!-- about  -->
@Html.Action("About");
<!-- service -->
@Html.Action("Service");
<!-- faq ai ile birlikte yapilacak -->
@Html.Action("FAQ");


<div class="container-fluid blog py-5">
</div>
    <!-- employee -->
    @Html.Action("Employee");
    <!-- testimonial -->
    @Html.Action("Testimonial");
    <!-- contact -->
    @Html.Action("Contact");
